<?xml version="1.0"?>
<!-- For visualization in real experiments -->

<launch>

    <include file="$(dirname)/drone_visualizer_single.launch">
        <arg name="ns" value="uav1"/>
        <arg name="open_rviz" value="false"/>
    </include>

    <include file="$(dirname)/drone_visualizer_single.launch">
        <arg name="ns" value="uav2"/>
        <arg name="open_rviz" value="false"/>
    </include>

    <include file="$(dirname)/drone_visualizer_single.launch">
        <arg name="ns" value="uav3"/>
        <arg name="open_rviz" value="false"/>
    </include>

    <include file="$(dirname)/drone_visualizer_single.launch">
        <arg name="ns" value="uav4"/>
        <arg name="open_rviz" value="false"/>
    </include>

    <include file="$(dirname)/drone_visualizer_single.launch">
        <arg name="ns" value="uav5"/>
        <arg name="open_rviz" value="false"/>
    </include>

    <include file="$(dirname)/drone_visualizer_single.launch">
        <arg name="ns" value="uav6"/>
        <arg name="open_rviz" value="false"/>
    </include>

    <include file="$(dirname)/drone_visualizer_single.launch">
        <arg name="ns" value="uav7"/>
        <arg name="open_rviz" value="false"/>
    </include>

    <include file="$(dirname)/drone_visualizer_single.launch">
        <arg name="ns" value="uav8"/>
        <arg name="open_rviz" value="false"/>
    </include>

    <include file="$(dirname)/drone_visualizer_single.launch">
        <arg name="ns" value="uav9"/>
        <arg name="open_rviz" value="false"/>
    </include>

    <include file="$(dirname)/drone_visualizer_single.launch">
        <arg name="ns" value="uav10"/>
        <arg name="open_rviz" value="false"/>
    </include>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find px4_rotor_sim)/launch/multi_px4_rotor.rviz" required="true" />

</launch>
